<div class="footer bg-dark text-center text-white">

    <div class="d-none container py-2">
        <div class="d-flex justify-content-between">
            <a class="btn btn-outline-light btn-floating m-0" href="https://github.com/txlyzov/angular" role="button">
                <p class="mb-0">
                    <i class="footer-ico bi bi-github"></i>
                     Angular
                    </p>
            </a>
            <a class="btn btn-outline-light btn-floating text-decoration-none text-uppercase text-md-center" href="#">
                <p class="mb-0">
                    <i class="footer-ico bi bi-shift"></i> 
                    Back to start 
                    <i class="footer-ico bi bi-shift"></i>
                </p>
            </a>
            <a class="btn btn-outline-light btn-floating m-0" href="https://github.com/txlyzov/nodeJS" role="button">
                <p class="mb-0">
                    Server 
                    <i class="footer-ico bi bi-github"></i>
                </p>
            </a>
        </div>
    </div>

    <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.2);">
        Created in 2021-2022
    </div>
    
</div>
