<div class="background-image">
    <div class="container">

        <div class="row">
            <div class="col my-auto card preview border-2 border-secondary rounded">
                <h4>Image preview</h4>
                <app-image class="" (setImageUrlValidStatus)="setImageUrlValidStatus($event)" [image]=image></app-image>
            </div>
    
            <div class="col">
                <div class="card card-container border-2 border-secondary rounded">
                    <img id="icon" class="icon-card" src="https://www.freeiconspng.com/thumbs/plus-icon/plus-sign-icon-31.png" />
                    <form [formGroup]="form" (ngSubmit)="submit()" class="mt-4 form">
                        <input (ngModelChange)="previewName($event)" formControlName="imageName" type="text" [id]="inputImageName" class="form-control" placeholder="Image name (!)"/>
                        <span class="warning-note" *ngIf="form.controls['imageName'].touched && form.hasError('required','imageName')">*Required </span>
                        <input (ngModelChange)="previewLink($event)" formControlName="imageUrl" type="text" [id]="inputImageUrl" class="form-control" placeholder="Image url (!)"/>
                        <span class="warning-note" *ngIf="form.controls['imageUrl'].touched && form.hasError('required','imageUrl')">*Required </span>
                        <span class="warning-note" *ngIf="form.controls['imageUrl'].touched && !isImageUrlValid">*Broken link </span>
                        <input (ngModelChange)="previewDescription($event)" formControlName="imageDescription" type="text" [id]="inputImageDescription" class="form-control" placeholder="Image description"/>
    
                        <div id="privacy" class="checkbox mb-2">
                            <input formControlName="isPrivate" [id]="inputImagePrivacy" type="checkbox"/>
                            <label class="ms-1">Is private image</label>
                        </div>
                        
                        <button [disabled]="form.invalid || !isImageUrlValid" class="btn btn-lg btn-primary btn-block btn-submit" type="submit" [id]="submitButton">Upload</button>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</div>

