<div class="image-container text-center" (click)="openLink(image?.url)">

    <img (load)="onSuccess()" (error)="onFailed()" src="{{image?.url}}" class="carg-img-top img-fluid rounded"/>
    
    <div class="image-overlay">
        <div class="image-text">
            <p>Click to open full size image</p>
        </div>
        <div class="image-text">
            <h4>{{image?.name}}</h4>
        </div>
        <div class="image-text">
            <h5>{{image?.description}}</h5>
        </div>
    </div>

</div>
