<div class="input-group">
    <div class="input-group-prepend">
        <label class="ia-label px-1 input-group-text rounded-start border border-secondary" for="inputGroupSelect01">Image access filter:</label>
    </div>
    <select class="ia-select custom-select rounded-end border border-secondary" id="inputGroupSelect01">
                <option selected>All</option>
                <option value="0">Public only</option>
                <option value="1">Private only</option>
    </select>
</div>