<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="https://static.thenounproject.com/png/60319-200.png" />

        <form [formGroup]="form" (submit)="submit()" class="mt-4 form-signin">
            <input formControlName="login" type="text" id="inputLogin" class="form-control" placeholder="Login" required autofocus/>
            <input formControlName="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required/>

            <div id="remember" class="checkbox">
                <input type="checkbox" value="remember-me"/>
                <label class="ms-1">Remember me</label>
            </div>

            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
        </form>

    </div>
</div>
