<div class="container-fluid">
    <div class="row ">
        <div class="col-sm p-0">
            <div class="ms-4 mt-2 pb-1 border-bottom bd-highlight border-dark  d-flex justify-content-start">
                <div class="p-2 mx-3 bd-highlight">
                    <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
                </div>
                <div class="p-2 mx-3 bd-highlight">
                    <div class="input-group  ">
                        <div class="input-group-prepend">
                            <label class="ia-label px-1 input-group-text rounded-start border border-secondary" for="inputGroupSelect01">Image access filter:</label>
                        </div>
                        <select class="ia-select custom-select rounded-end border border-secondary" id="inputGroupSelect01">
                                    <option selected>All</option>
                                    <option value="0">Public only</option>
                                    <option value="1">Private only</option>
                                </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm p-0">
            <div class="me-4 mt-2 pb-1 border-bottom bd-highlight border-dark  d-flex justify-content-end">
                <div class="p-2 mx-3 bd-highlight">
                    <ul class="pagination mb-0">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="http://localhost:4200/images-control">1</a></li>
                        <li class="page-item disabled">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item disabled"><a class="page-link" href="#">3</a></li>
                        <li class="page-item disabled">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </div>
                <div class="p-2 mx-3 bd-highlight">
                    <button type="button" class="btn btn-secondary" routerLink="/login">Upload your picture</button>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container mt-5">
    <div class="row mb-5">
        <div *ngFor="let image of images" class="col-md-3 text-center mx-auto ">
            <div class="card p-1 m-1">
                <div class="image-container m-auto" (click)="openLink(image.imageUrl)">
                    <img src="{{image?.imageUrl}}" class="carg-img-top img-fluid rounded">
                    <div class="image-overlay">
                        <div class="image-text">
                            <p>Click to open full size image</p>
                        </div>
                        <div class="image-text">
                            <h4>{{image?.imageName}}</h4>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="d-flex justify-content-between pt-1 mt-1 border-top border-secondary">
                        <button type="button" class="btn btn-outline-dark btn-sm py-0"><i class="bi bi-eye"></i></button>
                        <button type="button" class="btn btn-outline-dark btn-sm py-0"><i class="bi bi-eye-slash-fill"></i></button>

                        <a href="#" class="btn btn-outline-dark btn-sm py-0"><i class="bi bi-pencil-square"></i></a>
                        <a (click)="onOpenModal(image, 'delete')" class="btn btn-outline-dark btn-sm py-0" data-bs-toggle="modal" data-bs-target="#deleteImageModal"><i class="bi bi-x-lg"></i></a>
                    </div>
                </div>

            </div>
        </div>



        <div class="modal fade" id="deleteImageModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete this image?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="image-container text-center" (click)="openLink(imageToDelete.imageUrl)">
                            <img src="{{imageToDelete?.imageUrl}}" class="carg-img-top img-fluid rounded">
                            <div class="image-overlay">
                                <div class="image-text">
                                    <p>Click to open full size image</p>
                                </div>
                                <div class="image-text">
                                    <h4>{{imageToDelete?.imageName}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <h5 class="modal-title">Are you sure?</h5>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                        <button type="button" class="btn btn-primary">Yes</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>