<div class="container">

    <div class="card card-container">
        <img id="icon" class="icon-card" src="https://static.thenounproject.com/png/60319-200.png" />

        <form [formGroup]="form" (ngSubmit)="submit()" class="mt-4 form-auth">
            <input formControlName="login" type="text" id="inputLogin" class="form-control" placeholder="Create your Login (!)"/>
            <input formControlName="email" type="email" id="inputEmail" class="form-control" placeholder="Set yout Email address (!)"/>
            <input formControlName="password" type="password" id="inputPassword1" class="form-control" placeholder="Create your Password (!)"/>
            <input formControlName="confirmPassword" type="password" id="inputPassword2" class="form-control" placeholder="And confirm Password (!)"/>
            <div id="remember" class="checkbox">
                <input type="checkbox" value="rememberMe"/>
                <label class="ms-1">Remember me(NW)</label>
            </div>

            <button [disabled]="form.invalid" class="btn btn-lg btn-primary btn-block btn-confirm" type="submit" id="submitButton">Sign up</button>
        </form>
    </div>

</div>
