<ul class="pagination mb-0">

    <!-- <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>

    <li class="page-item active">
        <a class="page-link" href="http://localhost:4200/images-control">1</a>
    </li>

    <li class="page-item disabled">
        <a class="page-link" href="#">2</a>
    </li>

    <li class="page-item disabled">
        <a class="page-link" href="#">3</a>
    </li>

    <li class="page-item disabled">
        <a class="page-link" href="#">Next</a>
    </li> -->
    <div>
        <pagination-controls (pageChange)="pageChange($event)" class="pagination mb-0"></pagination-controls>
    </div>

</ul>
