<div class="container">
    <div class="card card-container">
        <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
        <!-- <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" /> -->
        <img id="profile-img" class="profile-img-card" src="https://static.thenounproject.com/png/60319-200.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="email" id="inputEmail" class="form-control" placeholder="Create your Username" required autofocus>
            <input type="email" id="inputEmail" class="form-control" placeholder="Set yout Email address" required autofocus>
            <input type="password" id="inputPassword" class="form-control" placeholder="Create your Password" required>
            <input type="password" id="inputPassword" class="form-control" placeholder="And confirm password" required>

            <div id="remember" class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign up</button>
        </form><!-- /form -->
    </div><!-- /card-container -->
</div>